{% extends "layout.html" %} {% block content %} 

<div class="container">
    <h1>Выберите наиболее важные для Вас критерии:</h1>
    <div class="row">
        <form action="{% url 'banks:search_ul' %}" method="POST">{% csrf_token %}
            <div class="row">
                <div class=" col s6">
                    <p>
                        <input type="checkbox" id="0" name="0" />
                        <label for="0">Цена</label>
                        <small>(Плата за подключение, обслуживание, комиссия за переводы, прочее)</small>
                    </p>
                    <p>
                        <input type="checkbox" id="1" name="1" />
                        <label for="1">Предоставление информации</label>
                        <small>(Выписки, справки)</small>
                    </p>
                    <p>
                        <input type="checkbox" id="2" name="2" />
                        <label for="2">Возможность общения с банком</label>
                        <small>(СМС информирование, отзывы, онлайн-приложение, мобильный банкинг)</small>
                    </p>
                </div>
                <div class=" col s6">
                    <p>
                        <input type="checkbox" id="3" name="3" />
                        <label for="3">Бизнес-сервисы</label>
                        <small>(Интеграция с 1с+работа с платеж док+ отправка и контроль з.п)</small>
                    </p>
                    <p>
                        <input type="checkbox" id="4" name="4" />
                        <label for="4">Безопасность</label>
                        <small>(Уровень защиты)</small>
                    </p>
                    <p>
                        <input type="checkbox" id="5" name="5" />
                        <label for="5">Возможность работать с валютой</label>
                        <small>(Платежи, переводы, продажа, конвертация)</small>
                    </p>
                    
                </div>

            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
        </form>
    </div>
</div>

{% endblock content %}
